# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask / Web Development
instance/
.webassets-cache
.env
.flaskenv

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Arduino Build Files and Temp Files
*.elf
*.bin
*.hex
*.o
*.d
*.eep
*.lst
*.map
*.sym
*.lss
.arduino/
/embedded/motion_controller/build/

# Operating System
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
